h1[id]::before,
h2[id]::before,
h3[id]::before,
h4[id]::before,
h5[id]::before,
h6[id]::before
{
	display: block;
	height: 5rem;
	margin-top: -5rem;
	visibility: hidden;
	content: ""
}

.anchorjs-link,
.no-deco
{
	text-decoration: none !important;
}

.clickable {
	cursor: pointer;
}

.image-container {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: relative;
	width: 100%;
}

.title-resizable {
	font-size: 7.2rem;
}

@media (max-width: 767.98px) {
	.title-resizable {
		font-size: 15vw;
	}
}

kbd {
	white-space: nowrap;
}